In [2]:
import pandas as pd

In [4]:
# Create dataframes.
oscars_df = pd.read_csv("oscars_merged.csv")
mergable0 = pd.read_csv("mergable_tmdb_data0.csv")
mergable1 = pd.read_csv("mergable_tmdb_data1.csv")
mergable2 = pd.read_csv("mergable_tmdb_data2.csv")
mergable3 = pd.read_csv("mergable_tmdb_data2.csv")
mergable4 = pd.read_csv("mergable_tmdb_data3.csv")
mergable5 = pd.read_csv("mergable_tmdb_data4.csv")

In [8]:
# Conctat the 6 mergable dataframes into one to get our budget and revenue data into one.
concat_tmdb = pd.concat([mergable0,mergable1,mergable2,mergable3,mergable4,mergable5])

In [9]:
print(concat_tmdb)

        Movie_id  Budget  Revenue
0      tt0000009     0.0      0.0
1      tt0000574     0.0      0.0
2      tt0000591     0.0      0.0
3      tt0000679     0.0      0.0
4            NaN     NaN      NaN
...          ...     ...      ...
40189  tt3815136     0.0      0.0
40190  tt3815248     0.0      0.0
40191  tt3815340     NaN      NaN
40192  tt3815424     0.0      0.0
40193  tt3815426     0.0      0.0

[241424 rows x 3 columns]

In [11]:
concat_tmdb = concat_tmdb.dropna(subset=["Movie_id"]) # Drop movie_id which is the tmdb ID, which we dont need since we use the imdb ID.

In [13]:
concat_tmdb = concat_tmdb.fillna(0) # Fill all na entries with 0.

In [34]:
filtered_tmdb = concat_tmdb[concat_tmdb["Revenue"] >= 50000] # Remove all rows where revenue is below 50000.
filtered_tmdb = filtered_tmdb[filtered_tmdb["Budget"] >= 20000] # Remove all rows where budget is below 20000.

In [35]:
print(filtered_tmdb)

        Movie_id      Budget     Revenue
113    tt0004391   2221000.0   5773000.0
143    tt0004972    100000.0  11000000.0
230    tt0006140     22472.0    102437.0
244    tt0006333    200000.0   8000000.0
368    tt0004391   2221000.0   5773000.0
...          ...         ...         ...
40032  tt3799694  50000000.0  62800000.0
40052  tt3801252    640000.0   1400000.0
40115  tt3808342   1000000.0   1777043.0
40147  tt3811906  40000000.0  34900000.0
40171  tt3813310   5000000.0    143658.0

[10718 rows x 3 columns]

In [37]:
filtered_tmdb.to_csv("budget_revenue_data.csv") # Save dataframe as csv file.